.contact_container {
    width: 100%;
    height: 100vh;
    background-image: url(/contacto-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.contact_title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Montserrat Alternates';
    text-transform: uppercase;
    text-decoration: underline;
}