.focus_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #00000070;
    color: #fff;
    border-radius: 10px;
}

.focus_svg {
    margin-top: 5em;
    padding: 3em;
}
