.footer_container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: .5rem;
}

.footer_container a:hover{
    scale: 1.5;
    transition: scale .1s linear;
}

.footer_container::before {
    position: absolute;
    bottom: 3rem;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: #C06EFF;
}

.footer_container img {
    width: 1.5rem;
}