.gallery_section {
    position: relative;
    height: 300vh;
}

.gallery_container {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.image_wrapper {
    display: flex;
    height: 50vh;
    gap: 4rem;
}

.image {
    overflow: hidden;
    width: 15vw;
    height: auto;
    object-fit: cover;
}