.hero {
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.creaciones {
    background-image: url(/fondoCreaciones.jpg);
}

.comunidad {
    background-image: url(/fondoComunidad.jpg);
}

.voces {
    background-image: url(/fondoVoces.jpg);
}

.hero-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 60%;
    border-radius: 50%;
}

.image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    padding: 0 5em;
}

.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-align: center;
    padding: .2em;
    color: #fff;
}

.hero-text {
    text-align: center;
    line-height: normal;
    font-size: 1em;
    color: #fff;
    width: 90%;
}

.hero-bold {
    width: 90%;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    font-size: 1em;
    padding: .5em;
    color: #fff;
}

.cta {
    cursor: pointer;
    background-color: #614589;
    border: none;
    padding: .5em 1em;
    border-radius: 5%;
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 992px) {
    .image-container {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-container {
        height: 100vh;
    }

    .text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero-title {
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        text-align: center;
        padding: .5em;
        color: #fff;
    }

    .hero-text {
        font-size: 1em;
        color: #fff;
    }

    .hero-bold {
        font-size: 1em;
        padding: .5em;
        color: #fff;
    }

    .cta {
        font-size: 1em;
    }

    .creaciones {
        background-image: url(/fondoMobile.webp);
    }
    
    .comunidad {
        background-image: url(/fondoMobile.webp);
    }
    
    .voces {
        background-image: url(/fondoMobile.webp);
    }
}