.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    z-index: 1;
}

.hero_image {
    border-radius: 50%;
    width: 75%;
    object-fit: cover;
}

.image_container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    margin-bottom: 5rem;
}

.hero_title {
    display: inline-block;
    position: relative;
    font-family: 'Montserrat', serif;
    font-size: 3rem;
    text-align: start;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.hero_title::after {
    position: absolute;
    bottom: -5px;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
}

.hero_text {
    width: 100%;
    text-align: start;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}

.cta {
    position: absolute;
    background-color: var(--primary-color);
    border: none;
    padding: .5rem;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

@media (max-width: 992px) {
    .image_container {
        margin-top: 5rem;
        width: 75vw;
    }

    .hero {

        width: 100%;
    }

    .hero_container {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .text_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .hero_title {
        font-size: 1.5rem;
        text-align: center;
        padding: .5rem;
        color: #fff;
        justify-content: center;
    }

    .hero_text {
        font-size: 1rem;
        color: #fff;
        text-align: center;
    }

    .cta_mobile {
        background-color: var(--primary-color);
        border: none;
        padding: .5rem 1rem;
        border-radius: 5%;
        color: #fff;
        text-align: center;
        font-size: 1rem;
    }

}