.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    padding: 0 5em;
}

.hero_image {
    border-radius: 50%;
    width: 300px;
}

.image_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    padding: 0 5em;
}

.hero_title {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-align: center;
    padding: .2em;
    color: #fff;
}

.hero_text {
    text-align: center;
    line-height: normal;
    font-size: 1em;
    color: #fff;
    width: 90%;
}

.hero_bold {
    width: 90%;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    font-size: 1em;
    padding: .5em;
    color: #fff;
}

.cta {
    cursor: pointer;
    background-color: #614589;
    border: none;
    padding: .5em 1em;
    border-radius: 5%;
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 992px) {
    .image_container {
        display: none;
    }

    .hero {
        flex-direction: column;
        width: 100%;
    }

    .hero_container {
        width: 100%;
        height: 100vh;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .text_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        padding-bottom: 5em;
        margin-top: auto;
    }

    .hero_title {
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        text-align: center;
        padding: .5em;
        color: #fff;
    }

    .hero_text {
        font-size: 1em;
        color: #fff;
    }

    .hero_bold {
        font-size: 1em;
        padding: .5em;
        color: #fff;
    }

    .button_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cta_mobile {
        background-color: #614589;
        border: none;
        padding: .5em 1em;
        border-radius: 5%;
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
    }

}