.markers_container {
    display: flex;
    justify-content: center;
    padding: 1em;

}

.marker {
    width: 30px;
    height: 5px;
    border-radius: 30%;
    background-color: transparent;
    margin: 0 5px;
    border: 1px solid #fff;
}

.marker.active {
    background-color: #fff;
}