.title {
    display: inline-block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.title::after {
    position: absolute;
    bottom: -10px;
    content: '';
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
}

.voces_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}

.first_card {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 416px;
}

.second_card {
    grid-column: 2;
    grid-row: 1;
    height: 200px;
}

.third_card {
    grid-column: 3;
    grid-row: 1;
    height: 200px;
}

.fourth_card {
    grid-column: 2 / span 2;
    grid-row: 2;
    height: 200px;
}

@media(min-width:1200px) {
    .first_card {
        height: 416px;
    }

    .second_card {
        height: 200px;
    }

    .third_card {
        height: 200px;
    }

    .fourth_card {
        height: 200px;
    }
}

@media(min-width:1601px) {
    .title {
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }

    .cards_container {
        max-width: 1200px;
    }

    .first_card {
        height: 616px;
    }

    .second_card {
        height: 300px;
    }

    .third_card {
        height: 300px;
    }

    .fourth_card {
        height: 300px;
    }
}