@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: #000;
}

.creaciones {
    background-image: url(/2.jpg);
}

.comunidad {
    background-image: url(/1.jpg);
}

.voces {
    background-image: url(/3.jpg);
    background-size: cover;
}

.error {
    background-image: url(/404.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
}

.slide_in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transform-origin: bottom;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slide_out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transform-origin: top;
}

@media (max-width: 992px) {
    .creaciones {
        background-image: url(/2.jpg);
    }

    .comunidad {
        background-image: url(/2.jpg);
    }

    .voces {
        background-image: url(/2.jpg);
    }
}