@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: #000;
}

.creaciones {
    background-image: url(/2.jpg);
}

.comunidad {
    background-image: url(/1.jpg);
}

.voces {
    background-image: url(/3.jpg);
    background-size: cover;
}

@media (max-width: 992px) {
    .creaciones {
        background-image: url(/2.jpg);
    }

    .comunidad {
        background-image: url(/2.jpg);
    }

    .voces {
        background-image: url(/2.jpg);
    }
}