@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    scrollbar-width: none;
    --primary-color: #614589;
    --secondary-color: #C06EFF;
    --third-color: #ddc4f7;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-image: url(/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.slide_in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transform-origin: bottom;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slide_out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transform-origin: top;
}

@media (max-width: 992px) {
    .creaciones {
        background-image: url(/2.jpg);
    }

    .comunidad {
        background-image: url(/2.jpg);
    }

    .voces {
        background-image: url(/2.jpg);
    }

    .slide_in {
        display: none;
    }

    .slide_out {
        display: none;
    }
}